# Nba Regular Season 2018-19 Data Challenge

Your task will be to take the dataset given, and create an analysis answering the following 10 questions. This project will again test your knowledge of pandas in order to find the answers needed given the data you are presented with.

In [61]:
!pip install pandas
import numpy as np
import pandas as pd
nba = pd.read_csv('./nbastats2018-2019.csv', sep=',')
nba

Requirement already satisfied: pandas in c:\users\ronal\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\ronal\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\ronal\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ronal\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\ronal\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

,Name,Height,Weight,Team,Age,Salary,Points,Blocks,Steals,Assists,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Alex Abrines,78,200,Oklahoma City Thunder,25,5455236,5.3,0.2,0.5,0.6,...,19.0,31,6.3,0.1,0.6,0.6,0.053,12.2,-3.4,-0.2
1,Quincy Acy,79,240,Phoenix Suns,28,213949,1.7,0.4,0.1,0.8,...,12.3,10,2.9,-0.1,0.0,-0.1,-0.022,9.2,-5.9,-0.1
2,Jaylen Adams,74,190,Atlanta Hawks,22,236854,3.2,0.1,0.4,1.9,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Steven Adams,84,265,Oklahoma City Thunder,25,24157304,13.9,1.0,1.5,1.6,...,33.4,80,18.5,5.1,4.0,9.1,0.163,16.4,2.7,3.2
4,Bam Adebayo,82,255,Miami Heat,21,2955840,8.9,0.8,0.9,2.2,...,23.3,82,17.9,3.4,3.4,6.8,0.171,15.8,3.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,Trae Young,74,180,Atlanta Hawks,20,5356440,19.1,0.2,0.9,8.1,...,30.9,81,17.0,2.5,0.7,3.3,0.062,28.4,-1.1,0.6
517,Cody Zeller,84,240,Charlotte Hornets,26,13528090,10.1,0.8,0.8,2.1,...,25.4,49,17.2,2.6,1.2,3.9,0.150,16.3,2.0,1.2
518,Tyler Zeller,84,253,Atlanta Hawks,29,106974,7.7,0.5,0.2,0.7,...,15.5,6,17.3,0.2,0.1,0.3,0.167,20.1,-2.2,0.0
519,Ante Zizic,83,254,Cleveland Cavaliers,22,1952760,7.8,0.4,0.2,0.9,...,18.3,59,16.2,1.7,0.3,2.0,0.087,18.2,-3.1,-0.3
520,Ivica Zubac,85,240,Los Angeles Clippers,21,1544951,8.9,0.9,0.2,1.1,...,17.6,59,18.9,1.9,1.3,3.2,0.148,20.3,-0.3,0.5

In [170]:
Allstar = nba.set_index('Name').select_dtypes('number')
Allstars = Allstar.idxmax()
Allstars

Height       Boban Marjanovic
Weight       Boban Marjanovic
Age              Vince Carter
Points           James Harden
Blocks           Myles Turner
Steals            Paul George
Assists     Russell Westbrook
Rebounds       Andre Drummond
FT%                 Deng Adel
FTA              James Harden
FG3%             Trevon Duval
FG3A             James Harden
FG%                   Zhou Qi
FGA              James Harden
MP               Bradley Beal
G                 Bam Adebayo
PER                   Zhou Qi
OWS              James Harden
DWS            Andre Drummond
WS               James Harden
WS48                  Zhou Qi
USG            Terrence Jones
BPM            Gary Payton II
VORP             James Harden
dtype: object

# What was the average age of player in the league?

In [62]:
# ages = nba["Age"]
average = (nba['Age'].mean())
average
#need to come back and round to whole number

25.900191938579656

# What player scored the most points?

In [131]:
# name= nba['Name']
# points= nba['Points']
player_points = nba[['Name','Points']]
# player_points['Points'].idxmax()
# nba[nba['Points']==nba['Points'].max()]
player_points[player_points['Points']==player_points['Points'].max()]

             Name  Points
202  James Harden    36.1

# What player had the most blocks during the season? Was it a post player (F/C)?

In [132]:
MB = nba[['Name','Blocks']]
MB[MB['Blocks']==MB['Blocks'].max()]

             Name  Blocks
476  Myles Turner     2.7

# Based on the regular season, who had the best chance to win a title given their win percentage?

In [134]:
WP = nba[['Name','WS']]
WP[WP['WS']==WP['WS'].max()]

             Name    WS
202  James Harden  15.2

# What player had the best 3-pt percentage?

In [136]:
shooter = nba[['Name','FG3%']]
shooter[shooter['FG3%']==shooter['FG3%'].max()]
#Trevon Duval

              Name  FG3%
147   Trevon Duval   1.0
312  Scott Machado   1.0
352  Eric Moreland   1.0
439  Jordan Sibert   1.0

# Who played the most minutes during the season

In [138]:
MP= nba[['Name','MP']]
MP[MP['MP']==MP['MP'].max()]
#Bradley Beal

             Name    MP
37   Bradley Beal  36.9
179   Paul George  36.9

# What player given their player effiecency rating was the clutchest during the season?

In [149]:
clutch = nba[['Name','PER']]
clutch[clutch['PER']==clutch['PER'].max()]

        Name   PER
405  Zhou Qi  80.4

# What team had the youngest roster?

In [205]:
# teams_stats = nba.set_index('Team').select_dtypes('number')
# youngest_roster = nba.groupby(['Team','Age'])
# yougest= youngest_roster.mean()
youngest_roster = nba.groupby(["Team",'Age'])
yougest= youngest_roster.sum()
yougest = yougest.reset_index()
yougest

,Team,Age,Height,Weight,Points,Blocks,Steals,Assists,Rebounds,FT%,...,MP,G,PER,OWS,DWS,WS,WS48,USG,BPM,VORP
0,Atlanta Hawks,20,153,370,28.8,0.5,1.8,11.0,7.0,1.561,...,58.2,156,27.1,3.2,1.4,4.8,0.096,44.1,-3.0,0.7
1,Atlanta Hawks,21,247,735,28.4,1.1,1.2,3.0,16.2,1.474,...,58.7,112,37.6,5.5,1.5,7.1,0.181,53.8,-12.4,1.6
2,Atlanta Hawks,22,74,190,3.2,0.1,0.4,1.9,1.8,0.778,...,12.6,34,7.6,-0.1,0.2,0.1,0.011,13.5,-4.4,-0.3
3,Atlanta Hawks,23,158,395,6.3,0.1,0.6,1.2,3.6,1.500,...,17.7,26,19.9,-0.2,0.1,0.0,0.042,33.1,-14.3,-0.3
4,Atlanta Hawks,24,158,430,21.9,0.8,2.3,4.6,8.0,1.459,...,51.7,137,22.7,-0.1,2.4,2.4,0.069,36.7,-4.1,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,Washington Wizards,27,155,425,13.6,0.3,1.0,5.8,4.9,1.652,...,39.9,106,23.8,4.0,0.9,4.9,0.135,29.8,-5.8,0.5
300,Washington Wizards,28,76,210,20.7,0.9,1.5,8.7,3.6,0.697,...,34.5,32,18.0,0.5,0.7,1.2,0.051,28.8,-0.2,0.5
301,Washington Wizards,31,79,215,3.4,0.3,0.4,0.6,1.9,0.684,...,14.1,38,5.5,-0.3,0.3,0.0,0.001,12.0,-4.3,-0.3
302,Washington Wizards,32,164,497,16.4,1.0,1.3,2.5,7.8,1.577,...,41.8,111,25.6,3.3,1.3,4.6,0.175,30.7,-2.2,0.5
303,Washington Wizards,33,163,480,25.3,0.7,2.1,4.1,14.6,1.397,...,59.6,78,29.4,1.7,1.4,3.1,0.176,36.2,-5.7,0.7

# Who is the highest paid player during the season?

In [162]:
BIGBALLER= nba[['Name','Salary']]
BIGBALLER[BIGBALLER['Salary']==BIGBALLER['Salary'].max()]
#not correct

             Name Salary
255  John Jenkins  99290

# At the end of a game, who WOULDN'T you want on the Free Throw Line?

In [167]:
lastpick=nba[['Name','FT%']]
lastpick[lastpick['FT%']==lastpick['FT%'].min()]
Jacob Evans

                   Name  FT%
154         Jacob Evans  0.0
221   Haywood Highsmith  0.0
268      Terrence Jones  0.0
325      Tahjere McCall  0.0
356  Donatas Motiejunas  0.0
360         Dzanan Musa  0.0
502       C.J. Williams  0.0